<div class="bg"></div>

<div class="headline randomColor" [ngClass]="{'usrIsBiking': usrIsBiking }">
  Happy<br>Hoffmass
</div>

<div class="tree" [ngClass]="{'usrIsBiking': usrIsBiking }">
  <img src="assets/tree.svg" alt="">
</div>
<div class="treeTwo" [ngClass]="{'usrIsBiking': usrIsBiking }">
  <img src="assets/tree.svg" alt="">
</div>
<div class="hoff" [ngClass]="{'usrIsBiking': usrIsBiking }" (click)="startPimperBoogie()">
  <img src="assets/hoff.png">
  <div class="shiny" [ngClass]="{'shinyVisible' : startAnimation}">
    <img src="assets/shiniy.png" alt="">
  </div>

  <div class="barometer">
    <img src="assets/barometer.svg">
    <div class="pimper" [ngStyle]="{'transform': 'rotate(' + calcDegForPimper() + 'deg)'}" [ngClass]="{'pimperAnimations' : startAnimation}" >
      <img src="assets/pimper.png">
    </div>

  </div>
</div>


<div class="beerContainerLeft" [ngClass]="{'usrIsBiking': usrIsBiking }">

  <div class="beerGlas">
    <img src="assets/beer-left.svg">
    <div class="fillWrapper">
      <div class="fillLevel" [ngStyle]="{'height': calcFillHeight('red') + '%'}"></div>
    </div>
  </div>
  <h1 class="">TEAM RED</h1>
  <h1 class="" *ngIf="result">{{result.roundsTeamRed}} km</h1>

</div>

<div class="beerContainerRight" [ngClass]="{'usrIsBiking': usrIsBiking }">

  <div class="beerGlas">
    <img src="assets/beer-right.svg">
    <div class="fillWrapper">
      <div class="fillLevel" [ngStyle]="{'height': calcFillHeight('blue') + '%'}"></div>
    </div>
  </div>
  <h1 class="">TEAM BLUE</h1>
  <h1 class="" *ngIf="result">{{result.roundsTeamBlue}} km</h1>

</div>

<footer *ngIf="footerMsgs">
  <span class="randomColor">{{footerMsgs[currentFooterMsg]}}</span>


</footer>


