@import "../variablen";
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}




img {width: 100%;}

.headline {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 6%;
  font-size: 55px;
  z-index: 10;
  @include transition(all, 0.5s, linear);
}
.tree, .treeTwo {
  position: absolute;
  width: 13%;
  top: 4%;
  left: 58%;
  z-index: 0;
  -webkit-animation-name: shakeTree;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
}
.treeTwo {
  left: 28%;
  top: 10%;
  width: 10%;
  -webkit-animation-name: shakeTreeTwo;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
}

.hoff {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 47%;
  width: 17%;
  @include transition(all, 0.5s, linear);

  .barometer, .shiny {
    position: absolute;
    width: 100%;
    top: 40%;
  }

  .shiny {
    opacity: 0;
    top: 0;
    @include transition(all, 0.1s, linear);
  }
  .shinyVisible {
    @include transition(all, 0.1s, linear);
    opacity: 1;
  }

  .pimper {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transform: rotate(0deg);
    @include transition(transform, 1.5s, linear);
  }
  .pimperAnimations {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
  }


}

.beerContainerLeft, .beerContainerRight {
  text-align: center;
  position: absolute;
  left: -2%;
  top: 30%;
  width: 44%;
  @include transition(all, 1.5s, linear);
  .beerGlas {
    position: relative;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 20px;
    .fillWrapper {
      position: absolute;
      top: 20%;
      left: 19%;
      width: 45%;
      height: 57%;
      .fillLevel {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20%;
        background: $f_rot;
      }
  }

  }
}
.beerContainerRight {

  left: auto;
  right: -3%;
  .beerGlas {
    margin-left: 17%;
    .fillWrapper {
      left: 38%;
      .fillLevel {
        background: $f_blau;
      }
    }
  }



}

.redColor { color: $f_rot; }
.blueColor { color: $f_blau;}

footer  {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 6%;
  font-size: 30px;

}


.randomColor {
  -webkit-animation-name: bgrandom;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;

}

.usrIsBiking {
  &.hoff {
    top: -10%;
    width: 45%;
    @include transition(all, 0.5s, linear);

  }
  &.beerContainerLeft, &.beerContainerRight, &.headline {
    opacity: 0;
    @include transition(all, 1.0s, linear);
  }

  &.tree {
    width: 18%;
    top: 52%;
    left: 67%;
    @include transition(all, 0.1s, linear);
  }
  &.treeTwo {
    left: 11%;
    top: 23%;
    width: 26%;
    @include transition(all, 0.1s, linear);
  }
}





