$f_pink: #ff002d;
$f_rot: #C70000;
$f_blau: #0000FF;


@-webkit-keyframes spin {
   from {
     transform:rotate(0deg);
   }
   to {
     transform:rotate(2520deg);
   }
 }

@keyframes bgrandom {
  0% { color: red; }
  10% { color: blue; }
  20% { color: yellow; }
  30% { color: green; }
  40% { color: #b0b4b1; }
  50% { color: #9394ff; }
  60% { color: #ff6653; }
  70% { color: #53ff3b; }
  80% { color: #3745ff; }
  90% { color: #ffdd43; }
  100% { color: #8dff80; }
}

@-webkit-keyframes shakeTree {
  0% { transform:rotate(15deg); }
  50% { transform:rotate(30deg); }
  100% { transform:rotate(15deg); }

}

@-webkit-keyframes shakeTreeTwo {
  0% { transform:rotate(-20deg); }
  50% { transform:rotate(0deg); }
  100% { transform:rotate(-20deg); }

}
