/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: 'minecraftpe';
  src: url('assets/font/minecraftpe-rayb-webfont.woff2') format('woff2'),
  url('assets/font/minecraftpe-rayb-webfont.woff') format('woff'),
  url('assets/font/MinecraftPe-rayB.ttf')  format('truetype');

}



@import "../node_modules/bootstrap/scss/bootstrap";
body, html {
  margin: 0;
  padding: 0;
  font-family: 'minecraftpe';
  font-weight: normal;
  font-style: normal;
  overflow: hidden;

}

.bg {
  width: 100%;
  height: 100vh;
  background-image: url("assets/verlauf.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

